
{escript_incl_apps, [rebar,smooth,nano_trace,inotify]}.

{escript_emu_args, "%%! -smp auto -sname repoxy -setcookie repoxy\n"}.

{deps, [
        {em, ".*", {git, "https://github.com/sheyll/erlymock.git"}},
        {smooth, ".*", {git, "https://github.com/sheyll/smooth.git"}},
        {nano_trace, ".*", {git, "https://github.com/sheyll/nano_trace.git"}},
        {rebar, ".*", {git, "https://github.com/basho/rebar.git"}},
        {proper, ".*", {git, "https://github.com/manopapad/proper.git"}},
	{cowboy, ".*", {git, "git://github.com/extend/cowboy.git", "master"}},
	{inotify, ".*", {git, "https://github.com/sheyll/inotify.git"}}
  ]}.
